.social-navigation__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  border: 2px solid #fff;
}

.social-navigation__icon:hover {
  opacity: .8;
}