.quickheader__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ff872f;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.quickheader__btn:hover {
  opacity: .9;
}