.quickheader__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ff872f;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.quickheader__btn:hover {
  opacity: .9;
}

@media screen and (max-width: 450px) {
  .quickheader__btn {
    width: 50px;
    height: 50px;
  }
}