.element__title {
  width: 90%;
  height: 85px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 auto 20px auto;
  font-size: 15px;
}

@media screen and (max-width: 1120px) {
  .element__title {
    font-size: 18px;
  }
}