.content__book {
  cursor: pointer;
  max-width: 180px; 
  min-height: 286px;
  margin-top: 45px;
  transition: transform .2s ease-in-out;
}

.content__book:hover {
  transform: scale(1.02, 1.02);
}

@media screen and (max-width: 570px) {
  .content__book {
    margin-top: 25px;
    max-width: 100%;
  }
}