.carousel__button {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  right: 20px;
  border-radius: 50%;
  background: #ff872f;
  color: #ffffff;
  border: none;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s linear, visibility .2s linear;
  z-index: 1;
}

.carousel__button:hover {
  opacity: 1;
}