.carousel {
  max-width: 1380px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

@media screen and (max-width: 915px) {
  .carousel {
    margin-top: 45px;
  }
}

@media screen and (max-width: 550px) {
  .carousel {
    display: none;
  }
}