.header__search-btn {
  position: absolute;
  top: 16%;
  right: 2px;
  border: none;
  padding: 0;
  color: #ffffff;
  background-color: #007aff;
  cursor: pointer;
  width: 65px;
  height: 33px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__search-btn:hover {
  opacity: .8;
}