.popup__close-btn {
  position: absolute;
  color: #ffffff;
  top: 30px;
  right: 40px;
}

@media screen and (max-width: 915px) {
  .popup__close-btn {
    right: 15px;
  }
}

@media screen and (max-width: 451px) {
  .popup__close-btn {
    top: 26px;
  }
}